// app colors
$backgroundColor: #000000 !default;
$startLayerColor: #0F0F11 !default;
$customBlue: #0273e8 !default;
$customButtonBackground: #0271e854 !default;
$customWhite: #ebebeb !default;
$customGreen: #08fa91 !default;

// font props
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extraBold: 800;
$customFontText: "Cabin", sans-serif;
